.Title {
  text-transform: capitalize;
  text-shadow:2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -12px 8px 19px #4ebeff , 12px -8px 19px #4ebeff;
    color: #ffffff;
    font-size: 2rem;
    user-select: none;
}
