@import "../../responsive.scss";

.Logo{
    object-fit: contain;
    width: 300px;
    height: 210px;
    filter: drop-shadow(1px -25px 23px #4ebeff);
    
    @include md {
        width: 400px;
        height: 400px;
    }

    @include sm {
        width: 235px;
        height: 168px;
    }

}