@font-face {
  font-family: LuckiestGuy;
  src: url(./assets/fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf);
}
:root{
  --yellow:#FCD015;
  --blue:#3D7AD6;
  --grey:#D1D1D1;
  --azur:#C9F9FC;
}


a {
  font-weight: 500;
  text-decoration: none;
}
a:hover , button:hover , input[type="submit"]{
  cursor: pointer;
}
*{
  font-family: LuckiestGuy;
  box-sizing: border-box;
}
body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
}

